{% extends "base.html" %}
{% block title %}Log-in{% endblock %}

{% load static %}

{% block custom_styles %}

    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">

{% endblock %}

{% block content %}
   
    

    {% load widget_tweaks %}
    <div class="content-padding d-flex justify-content-end align-items-center full-height" >
        
        <div class="main-interface main-form" style="height: fit-content;">
            <h1 class="main-head">Change password</h1>
            {% if form.errors %}
                <p>
                    Your username and password didn't match.
                    Please try again.
                </p>
            {% else %}
                <p>Please, use the following form to log-in:</p>
            {% endif %}
            <form action="{% url 'AccountsApp:password_change_done' %}" method="post" >
                <label for="{{ pass_form.old_password.id_for_label }}">Old password</label><br>
                {% render_field pass_form.old_password class="form-control btn active my-1 text-start" %}<br>
                
                <label for="{{ pass_form.password1.id_for_label }}">New password</label><br>
                {% render_field pass_form.password1 class="form-control btn active my-1 text-start" %}<br>
                
                <label for="{{ pass_form.password2.id_for_label }}">Repeat new password</label><br>
                {% render_field pass_form.password1 class="form-control btn active my-1 text-start" %}<br>
                
                <!-- {{ pass_form.as_p }} -->
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log-in" class="parser-form-submit btn complete"></p>
            </form>
        </div>
    </div>
    
    
{% endblock %}