{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block custom_styles %}
        <link rel="stylesheet" href="{% static 'css/parser/style.css' %}">
    {% endblock %}
</head>

<body>
    {% block content %}
    
    <div class="container-fluid">
        <div class="row mx-auto w-fit background-small">
            <p class="text display-4">Password changed</p><br>
        </div>
    </div>

    {% endblock %}
</body>

</html>