{% extends 'base.html' %}

{% block title %}
    {{ user.username }} profile 
{% endblock %}

{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/datasets/style.css' %}">
    <script src="{% static 'js/datasets/filter_datasets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">

{% endblock %}

{% block content %}
    <h1 class="main-head">{{ user.username }} profile</h1>
    {% load widget_tweaks %}
        <div class="">
            <div class="row d-flex justify-content-around align-items-center">
                <div class="main-interface user-page col-lg-3 col-md-5 col-sm-12">
                    <h2 class="text-center">User Image</h2>
                    <div class="img-container d-flex justify-content-center">
                        <img class="user-img" src="{% if user_image %}{{ user_image.url }}{% else %}{% static 'img/jokerge.png' %}{% endif %}">
                    </div>
                    <form method="post" action="{% url 'AccountsApp:profile' %}" enctype="multipart/form-data">
                        <div class="row d-flex">
                            <label  for="{{ change_image_form.image.id_for_label }}" class="m-2">Upload new image</label>
                            
                                {% render_field change_image_form.image id="image" class="m-2 form-control" type="file" id="formFile" %}
                            
                        </div>
                        {% csrf_token %}
                        <div class="user-info-item d-flex justify-content-end ">
                            <input type="submit" class="btn complete m-3" value="Change-image" name="Change-image">
                        </div>
                    </form>
                </div>
                <div class="main-interface col-lg-3 col-md-5  col-sm-12">
                    <h2 class="text-center">User Info</h2>
                    <div class="row user-info-item m-2">
                        <label class="col-4">Change Password?</label>
                        <div class="col-8">
                            <a class="btn complete m-3" href="{% url 'AccountsApp:password_change' %}">Change password</a>
                        </div>
                    </div>
                    <form method="post" action="{% url 'AccountsApp:profile' %}">
                        <div class="row user-info-item m-2">
                            <label class="col-4" for="{{ change_data_form.email.id_for_label }}">Email</label>
                            <div class="col-8">
                                {% render_field change_data_form.email id="email" class="form-input "  style="width:100%" %}
                            </div>
                        </div>

                        <div class="row user-info-item m-2">
                            <label class="col-4" for="{{ change_data_form.date_of_birth.id_for_label }}">Date of birth</label>
                            <div class="col-8">
                                {% render_field change_data_form.date_of_birth id="date_of_birth" class="form-input"  style="width:100%" %}
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="user-info-item d-flex justify-content-end ">
                            <input type="submit" class="btn complete m-3" value="Change-data" name="Change-data" >
                        </div>
                    </form>
                </div>
                <div class="main-interface col-lg-3 col-md-5  col-sm-12" >
                    <form method="post" onkeydown="return event.key != 'Enter'">
                        {% csrf_token %}
                        <div>
                            <h2 class="text-center">Favorite datasets</h2>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 right-vertical-rule ">
                                    <div class="my-1">
                                        <h4>Options:</h4>
                                        <div class="grid-buttons">
                                            <div><input type="submit" class="btn complete grid-button" formaction="{% url 'VisualizationApp:visualization-app'%}" value="cluster"></div>
                                            <div><input type="submit" class="btn complete grid-button" formaction="/statistic" value="statistic"></div>
                                            <div><input type="submit" class="btn complete grid-button" formaction="{% url 'DatasetViewApp:details'%}" value="view"></div>
                                            <div><input type="text" class="form-control w-75 my-3 filter-button-class" placeholder="search" data-set_type="comment_set"></div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <h4 >Datasets:</h4>
                                    <div id="dataset-holder" class="my-1 scroll-list">
                                        {% if expired_job_ids|length > 0 %}
                                            <p>
                                                Following datasets were expired:
                                                {% for expired_dataset in expired_job_ids %}
                                                    {{ expired_dataset }}
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                        {% for favorite in up_to_date_job_ids %}
                                            <div>
                                                <input type="checkbox" name="{{favorite.job_id}}" id="{{favorite.job_id}}" class="mx-1" checked>
                                                <label for="{{favorite.job_id}}">{{ favorite }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
   
    
    

{% endblock %}
