{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% load static %}

{% block custom_styles %}

    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">

{% endblock %}

{% block content %}
    
    <div class="container content-padding d-flex justify-content-end align-items-center full-height">
        <div class="main-interface main-form login-form register-form">
            <h1 class="main-head">Register</h1>
            {% load widget_tweaks %}
            <form method="post">
                {% if form.errors %}
                    <p>
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% else %}
                    <p>Please, sign up using the following form:</p>
                {% endif %}

                <label for="{{ registration_form.username.id_for_label }}">Username</label><br>
                {% render_field registration_form.username class="form-control btn active my-1 text-start" %}<br>
                        
                <label for="{{ registration_form.email.id_for_label }}">Email</label><br>
                {% render_field registration_form.email class="form-control btn active my-1 text-start" %}<br>
                
                <label for="{{ registration_form.password1.id_for_label }}">Password</label><br>
                {% render_field registration_form.password1 class="form-control btn active my-1 text-start" %}<br>
                
                <label for="{{ registration_form.password2.id_for_label }}">Confirm password</label><br>
                {% render_field registration_form.password2 class="form-control btn active my-1 text-start" %}<br>
                
                <label for="{{ registration_form.date_of_birth.id_for_label }}">Date of birth (YYYY-MM-DD)</label><br>
                {% render_field registration_form.date_of_birth class="form-control btn active my-1 text-start" %}<br>
                
                <!-- {{ register_form.as_p }} -->
                {% csrf_token %}
                <p><input type="submit" value="Register" class="parser-form-submit btn complete"></p>
            </form>
        </div>
    </div>
    
{% endblock %}