

.navbar-main {
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: #15191c;
    position: fixed;
    height: 100%;
    overflow: auto;
    
    
    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch
    
    
}
  
.navbar-list {
    justify-self: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*display: flex;
    flex-direction: column; */
  }
  
.nav-item {
    display: block;
    padding: 8px 16px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-out 100ms
}

.nav-item > a {
    text-decoration: none;
    color: white;
}

.nav-item > a:hover {
    color: white;
}
  
.nav-item:hover {
    background-color: #555;
}

.navbar-profile {
    margin: 10px;
    justify-self: center;
}

.profile-img {
    border-radius: 200px;
    width: 80px;
}

