.parser-form-option {
    display: none;
}

.parser-form-comments-submission {
    display: block;
}

.parser-form-comments-subreddit {
    display: none;
}

.parser-form-users {
    display: none;
}

.w-fit {
    width: fit-content;;
}