input[type=checkbox].list {
    transform: scale(2);
}

.card-class {
    min-width: 20em !important;
    max-width: 20em !important;
    height: 100% !important;
    background-color: #292e32 !important;
    border: 1px solid white !important;
}

.card-img-top {
    aspect-ratio: 4 / 1;
}

.scroll-cards {
  scrollbar-color: #74767A #C4C5C7;
  scrollbar-width: thin;
}

.card-body {
    background-color: #74767A !important;
    overflow-x: auto;
    height: 15em;
}

.grid-buttons {
    display: grid;
    justify-content: center;
    position: relative;
}

.grid-button {
    margin-top: 20px;
}

.background-border {
    height: 45vh;
    margin: 1em;
    padding: 1em;
    border-radius: 5em;
    background-color: #292e32;
    overflow-x: auto;
    overflow-y: hidden;
}

.right-vertical-rule {
    border-right: 2px solid #1f2227;
}

.background-small {
    width: 15em !important;
    max-height: 6em;
    border-radius: 1em;
    background-color: #292e32;
    overflow: auto;
}

.checkbox-absolute {
    position: absolute;
    top: 0.3125em;
    left: 0.3125em;
}

.button-absolute {
    background-image: url(../../img/favorite.png);
    background-size: cover;
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 30px;
}

.scrollbar {
    scrollbar-width: none;
}

.trans-input {
    background-color: transparent !important;
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
}

.grey-bkg {
    background-color: #6A6C6F !important;
}

.filter-button-class {
    color: #FFFFFF !important;
}

.pos-rel {
    position: relative;
}

#add-dataset {
    min-width: 7em;
}

#download-button-true {
    display: none;
}

#download-button-false {
    min-width: 15rem;
}