{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Analysis</title>
    <link rel="stylesheet" href="{% static 'css/base/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/main.css' %}">
    {% block scripts %}
    {% endblock %}

    {% block custom_styles %}
    {% endblock %}

    {% block styles %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    {% endblock %}
</head>
<body>
    {% block header %}
    <nav class="navbar-main">
        <div class="navbar-profile"><img class="profile-img" src="{% static 'img/jokerge.png' %}" alt="joker"></div>
        <ul class="navbar-list">
            <li class="nav-item">
                <a href="{% url 'HomeApp:home' %}">Home</a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="{% url 'VisualizationApp:visualization-app' %}">3D Cluster</a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="{% url 'ParserApp:start' %}">Parser</a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="{% url 'DatasetViewApp:list' %}">Datasets</a>
            </li>
            <hr>
            <li class="nav-item">
                <a href="{% url 'GraphApp:base_graph' %}">Graph</a>
            </li>
        </ul>
    </nav>
    {% endblock %}

    <div class="main-content">
        {% block content %}
    
        {% endblock %}
    </div>
    
    {% block footer %}
    {% endblock %}
</body>
</html>