<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Analysis</title>
    {% block scripts %}
    {% endblock %}

    {% block styles %}
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    {% endblock %}
</head>
<body>
    
    {% block header %}
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a href="{% url 'VisualizationApp:visualization-app' %}">Game</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'ParserApp:start' %}">Parser</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'DatasetViewApp:list' %}">Datasets</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'HomeApp:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'GraphApp:base_graph' %}">Graph</a>
            </li>
        </ul>
    </nav>
    <hr>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>