{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
    

    <form action="/test_id" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="give me sample job ids">
    </form>

    <h4>id tests</h4>
    <table>
        <thead>
            <tr>
                <th>Job type</th>
                <th>Job id</th>
            </tr>
        </thead>
        <tbody>
            {% if test_ids %} {% if test_ids.parse_com %}
            <tr>
                <td>parse_com</td>
                <td>{{test_ids.parse_com}}</td>
            </tr>
            {% endif %} {% if test_ids.parse_sub %}
            <tr>
                <td>parse_sub</td>
                <td>{{test_ids.parse_sub}}</td>
            </tr>
            {% endif %} {% if test_ids.cluster %}
            <tr>
                <td>cluster</td>
                <td>{{test_ids.cluster}}</td>
            </tr>
            {% endif %} {% endif %}
        </tbody>
    </table>
    {% endblock %}
</body>

</html>