{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <p class="text display-6">Home page, really</p>
            </div>
            <br>
            <div class="row">
                <p class="text display-6">TODO: Put tutorials here</p>
            </div>
        </div>
    {% endblock %}
</body>

</html>