
{% extends 'base.html' %}



<!DOCTYPE html>
<html lang="en-us">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | RedditGraphs3D</title>

    {% block styles %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="shortcut icon" href="{% static 'unity/TemplateData/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'unity/TemplateData/style.css' %}">
    {% endblock %}
    
    {% block scripts %}
      <script src="{% static 'js/visualization_app/visualization-socket.js' %}"></script> 
      <script src="{% static 'js/visualization_app/dataset_check.js' %}"></script> 
    {% endblock %}
    
  </head>
  <body>
    {% block content %}
    
      
      {% load widget_tweaks %}
      <div class="container content-padding">
        
        <button id="imitate-button" onclick="ImitateDotTextProcess()" style="display: none;">keke</button>
        
        <h1 class="main-head ">3D cluster visualization app</h1>
        <div class="main-interface main-form">
          <form method="post" id="vis-app-form">
            
            <div id="dataset-holder">
            
                <h4 id="form-header">No datasets selcted</h4>
                {% for dataset_id in dataset_ids %}
                    <div>
                        <input class="dataset_id" type="checkbox" name="{{dataset_id}}" id="{{dataset_id}}" checked>
                        <label for="{{dataset_id}}">{{dataset_id}}</label>
                    </div>
                {% endfor %}
            </div>
            
            <div class="row form-field">
              <div class="col-7">
                <input type="text" class="form-control" name="name-for-added-datasets" id="add-dataset-source" contentEditable="true">
              </div>
              <div class="col-5 form-input">
                <button type="button" class="btn active" id="add-dataset">Add dataset</button>
              </div>
            </div>
            <div class="row form-field">
              <div class="col-7">
                <label class="form-field" for="{{ visualization_form.clasterization_method.id_for_label }}">Clusterization method</label>
              </div>
              <div class="col-5 form-input">
                {% render_field visualization_form.clasterization_method id="clasterization-input" class="clasterization_params btn active" %}
              </div>
            </div>
            <div class="row form-field">
              <div class="col-7">
                <label class="form-field" for="{{ visualization_form.clasters_count.id_for_label }}">Clusters count</label>
              </div>
              <div class="col-5 form-input">
                {% render_field visualization_form.clasters_count id="clasters-count-input" class="clasterization_params btn active" %}
              </div>
            </div>
            <div class="row form-field">
              <div class="col-7">
                <label class="form-field" for="{{ visualization_form.language.id_for_label }}">Language</label>
              </div>
              <div class="col-5 form-input">
                {% render_field visualization_form.language id="language-input" class="clasterization_params btn active" %}
              </div>
            </div>
            <div class="row form-field">
              <div class="col-7">
                <label class="form-field" for="{{ visualization_form.downsising_method.id_for_label }}">Downsizing method</label>
              </div>
              <div class="col-5 form-input">
                {% render_field visualization_form.downsising_method id="downsising-input" class="clasterization_params btn active" %}
              </div>
            </div>
            <div class="row form-field">
              <div class="col-7">
                <label class="form-field" for="{{ visualization_form.measure_of_distance.id_for_label }}">Measure of distance</label>
              </div>
              <div class="col-5 form-input">
                {% render_field visualization_form.measure_of_distance id="measure-input" class="clasterization_params btn active" %}
              </div>
            </div>
            
            <div class="row form-field">
              <div class="col form-input">
                {% csrf_token %}
                <input type="button" class="btn complete complete-button" value="Load" onclick="createString()">
              </div>
            </div>
          </form>
        </div>
      </div>


          
        <div id="unity-container" class="unity-desktop" style="margin: 550px 100px 100px 100px">
          <canvas id="unity-canvas" width=960 height=600 tabindex="-1"></canvas>
          <div id="unity-loading-bar">
            <div id="unity-logo"></div>
            <div id="unity-progress-bar-empty">
              <div id="unity-progress-bar-full"></div>
            </div>
          </div>
          <div id="unity-warning"> </div>
          <div id="unity-footer">
            <div id="unity-webgl-logo"></div>
            <div id="unity-fullscreen-button"></div>
            <div id="unity-build-title">RedditGraphs3D</div>
          </div>
        </div>
    
      </div>
      
    <script>

      var container = document.querySelector("#unity-container");
      var canvas = document.querySelector("#unity-canvas");
      var loadingBar = document.querySelector("#unity-loading-bar");
      var progressBarFull = document.querySelector("#unity-progress-bar-full");
      var fullscreenButton = document.querySelector("#unity-fullscreen-button");
      var warningBanner = document.querySelector("#unity-warning");

      // Shows a temporary message banner/ribbon for a few seconds, or
      // a permanent error message on top of the canvas if type=='error'.
      // If type=='warning', a yellow highlight color is used.
      // Modify or remove this function to customize the visually presented
      // way that non-critical warnings and error messages are presented to the
      // user.
      function unityShowBanner(msg, type) {
        function updateBannerVisibility() {
          warningBanner.style.display = warningBanner.children.length ? 'block' : 'none';
        }
        var div = document.createElement('div');
        div.innerHTML = msg;
        warningBanner.appendChild(div);
        if (type == 'error') div.style = 'background: red; padding: 10px;';
        else {
          if (type == 'warning') div.style = 'background: yellow; padding: 10px;';
          setTimeout(function() {
            warningBanner.removeChild(div);
            updateBannerVisibility();
          }, 5000);
        }
        updateBannerVisibility();
      }
      
      // var buildUrl = "../static/unity/Build";
      var buildUrl = "{% static 'unity/Build' %}";
      // var loaderUrl = buildUrl + "/Test Build.loader.js";
      var loaderUrl = "{% static 'js/unity_build/Test Build.loader.js' %}";
      var config = {
        // dataUrl: buildUrl + "/Test Build.data.gz",
        // frameworkUrl: buildUrl + "/Test Build.framework.js.gz",
        // codeUrl: buildUrl + "/Test Build.wasm.gz",
        dataUrl: "{% static 'unity/Build/Test Build.data.unityweb' %}",
        frameworkUrl: "{% static 'unity/Build/Test Build.framework.js.unityweb' %}",
        codeUrl: "{% static 'unity/Build/Test Build.wasm.unityweb' %}",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "DefaultCompany",
        productName: "RedditGraphs3D",
        productVersion: "0.1",
        showBanner: unityShowBanner,
      };

      // By default Unity keeps WebGL canvas render target size matched with
      // the DOM size of the canvas element (scaled by window.devicePixelRatio)
      // Set this to false if you want to decouple this synchronization from
      // happening inside the engine, and you would instead like to size up
      // the canvas DOM size and WebGL render target sizes yourself.
      // config.matchWebGLToCanvasSize = false;

      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        // Mobile device style: fill the whole browser client area with the game canvas:

        var meta = document.createElement('meta');
        meta.name = 'viewport';
        meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
        document.getElementsByTagName('head')[0].appendChild(meta);
        container.className = "unity-mobile";
        canvas.className = "unity-mobile";

        // To lower canvas resolution on mobile devices to gain some
        // performance, uncomment the following line:
        // config.devicePixelRatio = 1;


      } else {
        // Desktop style: Render the game canvas in a window that can be maximized to fullscreen:

        canvas.style.width = "960px";
        canvas.style.height = "600px";
      }

      loadingBar.style.display = "block";

      var script = document.createElement("script");
      script.src = loaderUrl;
      script.onload = () => {
        createUnityInstance(canvas, config, (progress) => {
          progressBarFull.style.width = 100 * progress + "%";
              }).then((unityInstance) => {
                loadingBar.style.display = "none";
                fullscreenButton.onclick = () => {
                  unityInstance.SetFullscreen(1);
                };
                gameInstance = unityInstance;
              }).catch((message) => {
                alert(message);
              });
            };

      document.body.appendChild(script);

    </script>
    {% endblock %}
  </body>
</html>
