g.mpld3-xaxis, g.mpld3-yaxis {
    display: none;
}

.center-outline {
    border: 1em solid #292e32;
    background-color: #6A6C6F;
    border-radius: 2em;
    width: fit-content;
    height: fit-content;
}

#download-button {
    min-width: 15rem;
}