{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% block scripts %}
        <link rel="stylesheet" href="{% static 'css/graphs/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/datasets/style.css' %}">
        <script src="{% static 'js/graphs/graph_valid.js' %}"></script> 
    {% endblock %}
</head>

<body>
    {% block content %}

        <form action="{% url 'GraphApp:base_graph' %}" method="post">
            {% csrf_token %}

            <div class="container-fluid">
                <div class="row">
                    <div id="dataset-holder" class="my-1 background-small">
                        {% for dataset_id in dataset_ids %}
                            <div>
                                <input type="checkbox" name="{{dataset_id}}" id="{{dataset_id}}" class="mx-1" checked>
                                <label for="{{dataset_id}}">{{dataset_id}}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row">
                    <div class="d-flex align-items-center">
                        <input type="text" name="name-for-added-datasets" id="add-dataset-source" class="form-control mx-1">
                        <button type="button" id="add-dataset" class="btn active mx-1">Add dataset</button>
                        <input type="submit" value="Rebuild graph" class="btn complete mx-1">
                        {% if downloadable %}
                            <input formaction="{% url 'GraphApp:base_graph_download' %}" id="download-button" class="btn complete mx-1" type="submit" value="Download graph">
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>

        {% if html_embed %}
            <div class="container-fluid my-5">
                <div class="row mx-auto center-outline my-1">
                    {% autoescape off %}
                        {{ html_embed }}
                    {% endautoescape %}
                </div>

                {% if centrality %}
                    <div class="row mx-auto center-outline my-1">
                        <p class="text display-6 my-1">
                            Eigenvector centrality of nodes
                        </p>
                        <table class="table table-dark table-striped">
                            <thead>
                                <tr>
                                    <td>Node</td>
                                    <td>Centrality</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for node, value in centrality %}
                                    <tr>
                                        <td>{{node}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="row mx-auto center-outline my-1">
                        <p class="text display-6 my-1">
                            Must provide at least 3 verticies to calculate centrality
                        </p>
                    </div>
                {% endif %}

                {% if communities %}
                    <div class="row mx-auto center-outline my-1">
                        <p class="text display-6 my-1">
                            Maximum modularity communities
                        </p>
                        <table class="table table-dark table-striped">
                            <tbody>
                                {% for com in communities %}
                                    <tr>
                                        <td>
                                            <ul>
                                                {% for node in com %}
                                                    <li>{{node}}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="row mx-auto center-outline my-1">
                        <p class="text display-6 my-1">
                            Must provide at least 3 verticies to discover communities
                        </p>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div class="container-fluid my-5">
                <div class="row mx-auto center-outline">
                    <p class="text display-6">
                        Select datasets at the top of the page
                    </p>
                </div>
            </div>
        {% endif %}


    {% endblock %}

    <script src="{% static 'js/graphs/toolbar.js' %}"></script>
</body>

</html>